div.comparison {
    overflow: hidden;
    position: relative;
    opacity: 0;
    width: 100%;
    transition: opacity .3s ease-out;
}

div.comparison img{
  width: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-drag: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

div.comparison figure {
    font-size: 0;
    margin: 0;
    display: block;
}

.divisor {
    position: absolute;
    background-repeat: no-repeat;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    display: block;
    z-index: 2;
    overflow: hidden;
}

.dragger{
  position: absolute;
  z-index: 2;
  top:0;
  bottom:0;
  width: 8px;
  height: 100px;
  margin: auto auto auto -4px;
  background-color: #ccc;
  cursor: ew-resize;
  box-shadow: 0 0 4px #000;
}
