div#comparison {
    width: 100%;
    max-width: 800px;
    height: 534px;
    overflow: hidden;
    position: relative;
    opacity: 0;
    transition: opacity .3s ease-out;
}

div#comparison figure {
    background-image: url('https://c1.staticflickr.com/1/447/18776343002_357f8952ba_c.jpg');
    /*background-size: cover;*/
    background-repeat: no-repeat;
    font-size: 0;
    width: 100%;
    height: 534px;
    margin: 0;
    display: block;
}

div#comparison figure> img {
    position: relative;
    width: 100%;
}

#divisor {
    background-image: url('https://c2.staticflickr.com/4/3944/15526602308_b4751579ff_c.jpg');
    position: absolute;
    width: 100%;
    box-shadow: 0 5px 10px -2px rgba(0, 0, 0, 0.3);
    height: 534px;
    display: block;
}

.dragger{
  position: absolute;
  right: -4px;
  top:0;
  bottom:0;
  width: 8px;
  height: 100px;
  margin: auto;
  background-color: #ccc;
  cursor: ew-resize;
  box-shadow: 0 0 4px #000;
}
